<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form id="gall1" name="gallery" action="">

	<div id="con" style=" height:850px;">
		<center>
		<div class="imagediv1">
			<a class="fancybox" href="../Assets/Images/im1.jpg" data-fancybox-group="gallery" title="image1"><img class="image" src="../Assets/Images/im1.jpg" alt="" /></a>

		<a class="fancybox" href="../Assets/Images/im2.jpg" data-fancybox-group="gallery" title="image2"><img class="image" src="../Assets/Images/im2.jpg" alt="" /></a>

		<a class="fancybox" href="../Assets/Images/im3.jpg" data-fancybox-group="gallery" title="image3"><img class="image" src="../Assets/Images/im3.jpg" alt="" /></a>
		</div>
				
		<div class="imagediv2">
			<a class="fancybox" href="../Assets/Images/im4.jpg" data-fancybox-group="gallery" title="image4"><img src="../Assets/Images/im4.jpg" class="image"></a>
			<a class="fancybox" href="../Assets/Images/im5.jpg" data-fancybox-group="gallery" title="image5"><img src="../Assets/Images/im5.jpg" class="image"></a>
		</div>
		<div class="imagediv1">

			<a class="fancybox" href="../Assets/Images/img6.jpg" data-fancybox-group="gallery" title="image6"><img src="../Assets/Images/img6.jpg" class="image"></a>
			<a class="fancybox" href="../Assets/Images/im7.jpg" data-fancybox-group="gallery" title="image7"><img src="../Assets/Images/im7.jpg" class="image"></a>
			<a class="fancybox" href="../Assets/Images/im8.jpg" data-fancybox-group="gallery" title="image8"><img src="../Assets/Images/im8.jpg" class="image"></a>
		</div>
		<div class="imagediv2">
			<a class="fancybox" href="../Assets/Images/im9.jpg" data-fancybox-group="gallery" title="image9"><img src="../Assets/Images/im9.jpg" class="image"></a>
			<a class="fancybox" href="../Assets/Images/im10.jpg" data-fancybox-group="gallery" title="image10"><img src="../Assets/Images/im10.jpg" class="image"></a>
		</div>
		</center>

	</div>
</div>
</form>
</body>
</html>
