<!Doctype html>
<html>
	<head>
		<title>Login</title>
		<center>Welcome</center>
	</head>
	<body>
		[% IF fail1 %]
		<p color="red"> Login Fail .. [% failmsg %]</p>
		[% END %]
		<form method="POST" action="/database/homepage">
			<div>
				Username
				<input type="text" name="uname">
			</div>
			<div>
				password
				<input type="password" name="pword">
			</div>
			<div>
				<input type="submit" name="btn_submit">
			</div>

		</form>
	</body>

</html>
